<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=12.0, minimum-scale=1, user-scalable=yes"
    />

    <link rel="icon" href="../static/img/logo.png" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css') }}"
    />
    <title>Linkrot</title>
    <script>
      function toggleMobileNavigation() {
        var element = document.getElementById("mobile-navigation");

        if (element.classList.contains("mobile-navigation__open")) {
          element.classList.remove("mobile-navigation__open");
        } else {
          element.classList.add("mobile-navigation__open");
        }
      }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="mobile-navigation" id="mobile-navigation">
      <div class="mobile-navigation--header">
        <img src="../static/img/logo.png" alt="" />

        <div class="close-button" onclick="toggleMobileNavigation()">
          <button>
            <i class="fa fa-close"></i>
          </button>
        </div>
      </div>

      <a href="{{ url_for('upload_form')}}" class="mobile-navigation--item"
        >Home</a
      >
      <a href="{{ url_for('about')}}" class="mobile-navigation--item">About</a>
    </div>
    <div id="container">
      <header>
        <a class="logo" href="{{ url_for('upload_form')}}"
          ><img src="../static/img/logo.png" alt=""
        /></a>

        <nav class="navigation">
          <a href="{{ url_for('upload_form')}}" class="navigation--item"
            >Home</a
          >
          <a href="{{ url_for('about')}}" class="navigation--item">About</a>
        </nav>

        <div class="menu--button" onclick="toggleMobileNavigation()">
          <button>
            <i class="fa fa-reorder"></i>
          </button>
        </div>
      </header>
      <main class="about--main">
        <h1 class="important">Analysis of PDF</h1>
        <div class="download"><a href="{{ url_for('download')}}"><i class="fa fa-download"></i>Download Reference PDFs</a></div>
        <div id="doc-info">
          <h1 class="subhead">Document Information</h1>
          <ul>
            {% for i in meta_titles %}{% set item_1 = meta_titles[loop.index-1]
            %} {% set item_2 = meta_values[loop.index-1] %}
            <li><span class="meta-title">{{item_1}} : </span
            ><span class="meta-values">{{item_2}}</span></li></br>
            {% endfor %}
          </ul>
        </div>
        <div id="pdfs">
          <h1 class="subhead">PDF References</h1>
          <ol>
          {% for pdf in pdfs %}
          <li><a class="pdf-link" target="_blank" href="{{pdf[1]}}" {% if pdf[0] != 200 %} style="color:red" 
    {% endif %}>{{pdf[0]}} - {{pdf[1]}}</a></li></br>
          {% endfor %}
          </ol>
        </div>
        <div id="urls">
          <h1 class="subhead">URL References</h1>
          <ol>
          {% for url in urls %}
          <li><a class="url-link" target="_blank" href="{{url[1]}}" {% if url[0] != 200 %} style="color:red" 
    {% endif %}>{{url[0]}} - {{url[1]}}</a></li></br>
          {% endfor %}
          </ol>
        </div>
        <div id="summary">
          <h1 class="subhead">Summary of Link Checker</h1>
          <ul>
          <li style="color:#4cac47"><span class="sum-title">{{codes[200]|length}} working</span></li></br>
          {% for key, value in codes.items() %}
          {% if key != 200 %}
          <li style="color:red"> <span class="sum-title">{{value|length}} broken (reason: {{key}})</span>
          <ol>
          {% for v in value %}
          <li style="color:#333"><a class="sum-link" target="_blank" href="{{v[0]}}">{{v[0]}} (page {{v[1]}})</a></li></br>
          {% endfor %}
          </ol>
          </li>
          {% endif %}
          {% endfor %}
          </ul>
        </div>
      </main>
      <footer>
        <div class="social">
          <a
            href="https://github.com/marshalmiller/linkrot"
            target="_blank"
            class="socials--item"
          >
            <i class="fa fa-github"></i>
          </a>
        </div>
      </footer>
    </div>
    <script></script>
  </body>
</html>
