<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=10.0, minimum-scale=1, user-scalable=yes"
    />
    <link rel="icon" href="../static/img/branding/social assets/twitter/profile image/rottingresearch-twitter-profile-image-red.jpg" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />

    <!--<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />-->

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css') }}"
    />
    <title>Rotting Research</title>
    <script>
      function toggleMobileNavigation() {
        var element = document.getElementById("mobile-navigation");

        if (element.classList.contains("mobile-navigation__open")) {
          element.classList.remove("mobile-navigation__open");
        } else {
          element.classList.add("mobile-navigation__open");
        }
      }
    </script>
  </head>
  <body class="alt">
    <div class="mobile-navigation" id="mobile-navigation">
      <div class="mobile-navigation--header">

        <div class="close-button" onclick="toggleMobileNavigation()">
          <button>
            <i class="fa fa-close"></i>
          </button>
        </div>
      </div>

      <a href="{{ url_for('upload_form')}}" class="mobile-navigation--item">Home</a>
      <a href="{{ url_for('projects')}}" class="mobile-navigation--item">Projects</a>
      <a href="{{ url_for('research')}}" class="mobile-navigation--item">Research</a>
      <a href="{{ url_for('practices')}}" class="mobile-navigation--item">Best Practices</a>
      <a href="{{ url_for('contribute')}}" class="mobile-navigation--item">Contribute</a>
      <a href="{{ url_for('about')}}" class="mobile-navigation--item">About</a>

    </div>
    <div id="container">
      <header class="alt">
        <nav class="navigation">
          <a href="{{ url_for('upload_form')}}" class="navigation--item--alt"><img src="../static/img/branding/app-logo/white/rotting-research-sans-powered-by-white.svg"></a>
          <a href="{{ url_for('upload_form')}}" class="navigation--item--alt">Home</a>
          <a href="{{ url_for('projects')}}" class="navigation--item--alt ">Projects</a>
          <a href="{{ url_for('research')}}" class="navigation--item--alt ">Research</a>
          <a href="{{ url_for('practices')}}" class="navigation--item--alt ">Best Practices</a>
          <a href="{{ url_for('contribute')}}" class="navigation--item--alt ">Contribute</a>
          <a href="{{ url_for('about')}}" class="navigation--item--alt ">About</a>
        </nav>
         <div class="social">
            <a href="https://github.com/rottingresearch/rottingresearch" target="_blank" class="socials--item--alt">
                <i class="fa fa-github"></i>
            </a>
            <a href="https://opencollective.com/rottingresearch" target="_blank" class="socials--item--alt">
                <i class="fa fa-open-collective"></i>
            </a>              
        </div>

        <div class="menu--button--alt" onclick="toggleMobileNavigation()">
          <button>
            <i class="fa fa-reorder"></i>
          </button>
        </div>
      </header>
      <main class="about--main">
      <div class="about--content">
<!-- Privacy Policy -->
  <h1 class="important" id="privacy">Privacy Policy for Rotting Research</h1>

  <p>At RottingResearch, accessible from https://rottingresearch.org/, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by RottingResearch and how we use it.</p>
    
  <h2 id="gdpr">General Data Protection Regulation (GDPR)</h2>
  <p>We are a Data Controller of your information.</p>
   
  <p>Rotting Research legal basis for collecting and using the personal information described in this Privacy Policy depends on the Personal Information we collect and the specific context in which we collect the information:</p>
  <ul>
      <li>Rotting Research needs to perform a contract with you</li>
      <li>You have given Rotting Research permission to do so</li>
      <li>Processing your personal information is in Rotting Research legitimate interests</li>
      <li>Rotting Research needs to comply with the law</li>
  </ul>
    
  <p>Rotting Research will retain your personal information only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use your information to the extent necessary to comply with our legal obligations, resolve disputes, and enforce our policies.</p> 
  
  <p>If you are a resident of the European Economic Area (EEA), you have certain data protection rights. If you wish to be informed what Personal Information we hold about you and if you want it to be removed from our systems, please contact us.</p>
  
  <p>In certain circumstances, you have the following data protection rights:</p>
  <ul>
      <li>The right to access, update or to delete the information we have on you.</li>
      <li>The right of rectification.</li> 
      <li>The right to object.</li>
      <li>The right of restriction.</li>
      <li>The right to data portability</li>
      <li>The right to withdraw consent</li>
  </ul>
  
  <h2 id="logs">Log Files</h2>
  
  <p>RottingResearch follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>
  
  <h2>Privacy Policies</h2>
  
  <P>You may consult this list to find the Privacy Policy for each of the advertising partners of RottingResearch.</p>
  
  <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on RottingResearch, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
  
  <p>Note that RottingResearch has no access to or control over these cookies that are used by third-party advertisers.</p>
  
  <h2>Third Party Privacy Policies</h2>
  
  <p>RottingResearch's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. </p>
  
  <p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>
  
  <h2>Children's Information</h2>
  
  <p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
  
  <p>RottingResearch does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
  
  <h2>Online Privacy Policy Only</h2>
  
  <p>Our Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in RottingResearch. This policy is not applicable to any information collected offline or via channels other than this website.</p>
  
  <h2>Consent</h2>
  
  <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
<!-- Terms and Conditions -->
<h2 class="important" id="terms"><strong>Terms and Conditions</strong></h2>

<p>Welcome to Rotting Research!</p>

<p>These terms and conditions outline the rules and regulations for the use of Rotting Research's Website, located at https://rottingresearch.org.</p>

<p>By accessing this website we assume you accept these terms and conditions. Do not continue to use Rotting Research if you do not agree to take all of the terms and conditions stated on this page.</p>

<p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>

<h3><strong>Cookies</strong></h3>

<p>We employ the use of cookies. By accessing Rotting Research, you agreed to use cookies in agreement with the Rotting Research's Privacy Policy.</p>

<p>Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>

<h3><strong>License</strong></h3>

<p>Unless otherwise stated, Rotting Research and/or its licensors own the intellectual property rights for all material on Rotting Research. All intellectual property rights are reserved. You may access this from Rotting Research for your own personal use subjected to restrictions set in these terms and conditions. Our Terms and Conditions were created with the help of the <a href="https://www.webterms.org/terms-conditions-generator/">WebTerms Terms and Conditions Generator</a>.</p>

<p>You must not:</p>
<ul>
<li>Republish material from Rotting Research</li>
<li>Sell, rent or sub-license material from Rotting Research</li>
<li>Reproduce, duplicate or copy material from Rotting Research</li>
<li>Redistribute content from Rotting Research</li>
</ul>

<p>This Agreement shall begin on the date hereof.</p>

<p>Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. Rotting Research does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of Rotting Research,its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, Rotting Research shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.</p>

<p>Rotting Research reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.</p>

<p>You warrant and represent that:</p>

<ul>
<li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
<li>The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;</li>
<li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy</li>
<li>The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
</ul>

<p>You hereby grant Rotting Research a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</p>

<h3><strong>Hyperlinking to our Content</strong></h3>

<p>The following organizations may link to our Website without prior written approval:</p>

<ul>
<li>Government agencies;</li>
<li>Search engines;</li>
<li>News organizations;</li>
<li>Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses; and</li>
<li>System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.</li>
</ul>

<p>These organizations may link to our home page, to publications or to other Website information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services; and (c) fits within the context of the linking party’s site.</p>

<p>We may consider and approve other link requests from the following types of organizations:</p>

<ul>
<li>commonly-known consumer and/or business information sources;</li>
<li>dot.com community sites;</li>
<li>associations or other groups representing charities;</li>
<li>online directory distributors;</li>
<li>internet portals;</li>
<li>accounting, law and consulting firms; and</li>
<li>educational institutions and trade associations.</li>
</ul>

<p>We will approve link requests from these organizations if we decide that: (a) the link would not make us look unfavorably to ourselves or to our accredited businesses; (b) the organization does not have any negative records with us; (c) the benefit to us from the visibility of the hyperlink compensates the absence of Rotting Research; and (d) the link is in the context of general resource information.</p>

<p>These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party’s site.</p>

<p>If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website, you must inform us by sending an e-mail to Rotting Research. Please include your name, your organization name, contact information as well as the URL of your site, a list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.</p>

<p>Approved organizations may hyperlink to our Website as follows:</p>

<ul>
<li>By use of our corporate name; or</li>
<li>By use of the uniform resource locator being linked to; or</li>
<li>By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party’s site.</li>
</ul>

<p>No use of Rotting Research's logo or other artwork will be allowed for linking absent a trademark license agreement.</p>

<h3><strong>iFrames</strong></h3>

<p>Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.</p>

<h3><strong>Content Liability</strong></h3>

<p>We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.</p>

<h3><strong>Your Privacy</strong></h3>

<p>Please read Privacy Policy.</p>

<h3><strong>Reservation of Rights</strong></h3>

<p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and it’s linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.</p>

<h3><strong>Removal of links from our website</strong></h3>

<p>If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.</p>

<p>We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.</p>

<h3><strong>Disclaimer</strong></h3>

<p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:</p>

<ul>
<li>limit or exclude our or your liability for death or personal injury;</li>
<li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
<li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
<li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
</ul>

<p>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.</p>

<p>As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>

<!-- disclaimer -->
<h2 class="important">Disclaimer for Rotting Research</h2>

<p>We are doing our best to prepare the content of this site. However, Rotting Research cannot warranty the expressions and suggestions of the contents, as well as its accuracy. In addition, to the extent permitted by the law, Rotting Research shall not be responsible for any losses and/or damages due to the usage of the information on our website.</p>

<p>By using our website, you hereby consent to our disclaimer and agree to its terms.</p>

<p>The links contained on our website may lead to external sites, which are provided for convenience only. Any information or statements that appeared in these sites are not sponsored, endorsed, or otherwise approved by Rotting Research. For these external sites, Rotting Research cannot be held liable for the availability of, or the content located on or through it. Plus, any losses or damages occurred from using these contents or the internet generally.</p>


		  </div>
      </main>
      <footer>
        <div class="social">
          <a
            href="https://github.com/marshalmiller/linkrot"
            target="_blank"
            class="socials--item"
          >
            <i class="fa fa-github"></i>
          </a>
        </div>
      </footer>
    </div>
  </body>
</html>
